[Unit]
Description=RLight Portaria v8 Host Service
After=network.target

[Service]
Type=simple
User=willian
WorkingDirectory=/home/portaria/rlight/host
Environment=PYTHONPATH=/home/portaria/rlight/host
EnvironmentFile=/home/portaria/rlight/host/.env
ExecStartPre=/bin/bash /home/portaria/rlight/host/deploy.sh
ExecStart=/usr/bin/python3 /home/portaria/rlight/host/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
