[Unit]
Description=RLight Portaria v8 Cloud Backend
After=network.target

[Service]
Type=simple
User=willian
WorkingDirectory=/opt/rlight/cloud_backend
EnvironmentFile=/opt/rlight/cloud_backend/.env
ExecStart=/usr/bin/node /opt/rlight/cloud_backend/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
